/* Add your own styles */
@import url('http://fonts.cdnfonts.com/css/matrix');
@import url('http://fonts.cdnfonts.com/css/thegoodmonolith');
body {
    margin:0;
    background-size: 1500px 1000px;
    background-position-y: 1200px;
    font-family: 'TheGoodMonolith', sans-serif;
    background-image: 
    linear-gradient( rgb(0, 0, 0), rgba(0, 0, 0, 0.582) ),
    url('background.gif')
 }

header{
    background-color: black;
    margin:0px;
}

header .container{
    margin-top: 0px;
    margin-bottom: 80px;
    height: 250px;
}

h1{
    margin:0px;
    color: #9FD6EE;
    font-size: 94px;
    font-weight: lighter;
    font-family: 'TheGoodMonolith', sans-serif;
    position: relative;
    top:80px;
    right: 50px;
}

img{
    float: left;
    padding-top: 20px;
    padding-left: 20px;
}

.cursor h1::after {
    content: "";
    width: 10px;
    height: 80px;
    background: #9FD6EE;
    display: inline-block;
  }
  .cursor h1 {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  @keyframes cursor-blink {
    0% {
      opacity: 0;
    }
  }
  .cursor h1::after {
    /*code commented for brevity*/
    animation: cursor-blink 1.5s steps(2) infinite;
}


label{
    color: white;
    font-size: xx-large;
 }

.main-container{
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
    font-family: 'TheGoodMonolith', sans-serif;
 }

 input{
    width: 70%;
    padding: 12px 20px;
    border-radius: 5px;
    border-color: darkgrey;
    border-style: groove;
  }
button{
    width: 14%;
    height: 45px;
    padding: 12px 20px;
    border-radius: 5px;
    background-color: #3E88A7; 
    border-style: none;
}
.btn{
    margin-left: 0px;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.btn:hover {
    background-color: white;
    color: black;
  }